alembic==1.7.7
amqp==5.1.1
ansible==7.3.0
ansible-core==2.14.3
argcomplete==2.0.0
arrow==1.2.1
asgiref==3.4.1
async-timeout==4.0.2
attrs==22.1.0
Automat==22.10.0
awscli==1.27.53
bcrypt==3.2.2
Beaker==1.10.0
beautifulsoup4==4.11.2
billiard==4.1.0
binaryornot==0.4.4
bleach==4.0.0
blinker==1.5
blivet==3.5.0
blivet-gui==2.4.0
botocore==1.29.53
Brlapi==0.8.4
Brotli==1.0.9
bs4==0.0.1
celery==5.3.0b2
certifi==2021.10.8
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.0
cheroot==8.6.0
CherryPy==18.8.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
commonmark==0.9.1
constantly==15.1.0
crochet==1.10.0
cryptography==37.0.2
cupshelpers==1.0
dasbus==1.6
dbus-python==1.3.2
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.4
distro==1.7.0
Django==4.0.2
dnspython==2.2.1
docutils==0.18.1
email-validator==1.1.1
fedora-messaging==3.2.0
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.7.1
Flask==2.2.2
Flask-WTF==1.0.1
fros==1.1
gpg==1.17.0
greenlet==1.1.2
html5lib==1.1
httpie==3.2.1
humanize==3.13.1
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.12.0
incremental==21.3.0
ipsilon==3.0.4
itsdangerous==2.0.1
jaraco.classes==3.2.1
jaraco.collections==3.0.0
jaraco.functools==3.5.1
jaraco.text==3.2.0
jeepney==0.8.0
Jinja2==3.0.3
jmespath==1.0.0
jsonschema==4.10.0
keyring==23.11.0
kitchen==1.2.6
kombu==5.3.0b2
langtable==0.0.61
libcomps==0.1.18
libvirt-python==8.6.0
lockfile==0.12.2
lxml==4.9.1
M2Crypto==0.38.0
Mako==1.1.4
Markdown==3.4.1
MarkupSafe==2.1.1
mod-wsgi==4.9.1
more-itertools==8.12.0
MouseInfo==0.1.3
multidict==6.0.4
munch==2.5.0
mutagen==1.45.1
nftables==0.1
numpy==1.23.4
olefile==0.46
opencv-python==4.6.0.66
openidc-client==0.7.0
packaging==21.3
pagure==5.13.3
pagure-messages==0.0.6
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
pika==1.2.1
Pillow==9.2.0
platformdirs==2.5.2
ply==3.11
portend==3.1.0
productmd==1.35
prompt-toolkit==3.0.29
proton-client==0.7.1
protonvpn-cli==3.13.0
protonvpn-gui==1.12.0
protonvpn-nm-lib==3.14.0
psutil==5.9.1
ptyprocess==0.6.0
pwquality==1.4.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycairo==1.21.0
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.17.0
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
PyGetWindow==0.0.9
pygit2==1.7.1
Pygments==2.12.0
PyGObject==3.42.2
pykickstart==3.41
pylons-sphinx-themes==1.0.13
PyMsgBox==1.0.9
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-fedora==1.1.1
python-gettext==4.0
python-gnupg==0.5.0
python-manatools==0.0.4
python-meh==0.50
python-openid-cla==1.2
python-openid-teams==1.1
python3-openid==3.1.0
python3-xlib==0.15
pythondialog==3.5.3
pytweening==1.0.4
pytz==2022.7.1
pyudev==0.23.2
pyxdg==0.27
PyYAML==6.0
redis==4.3.3
regex==2022.10.31
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-toolbelt==0.9.1
resolvelib==0.5.5
rich==12.5.0
rpm==4.18.0
rsa==4.8
s3transfer==0.6.0
SecretStorage==3.3.3
selinux==3.4
sepolicy==3.4
service-identity==21.1.0
setools==4.4.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.4
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
sqlparse==0.4.2
straight.plugin==1.5.0
systemd-python==235
Tempita==0.5.2
tempora==5.0.2
toml==0.10.2
tomli==2.0.1
tornado==6.2
Twisted==22.4.0
typing_extensions==4.4.0
urllib3==1.26.12
vine==5.0.0
virtualenv==20.15.1
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
Werkzeug==2.2.2
whitenoise==6.1.0
wrapt==1.14.0
WTForms==3.0.1
yt-dlp==2023.3.4
zc.lockfile==2.0
zipp==3.8.1
zope.interface==5.4.0
